---
import Navbar from "../components/Navbar.astro";
import Hero from "../layouts/Hero.astro"
import Graph from "../components/Graph.astro";
import DownArror from "../components/DownArror.astro";
import Pricing from "../layouts/Pricing.astro";
import PricingCard from "../components/PricingCard.astro";
---

<!DOCTYPE html>
<html lang="en" data-theme="mytheme" class="font-mono">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vivagraphjs/0.10.0/vivagraph.js"></script>
    <title>Prototype</title>
</head>
<body>
    <header class="absolute">
        <Navbar />
    </header>
    <main>
        <article>
            <Hero>
                <Graph slot="graph"/>
                <DownArror slot="down-arrow"/>
            </Hero>
        </article>
        <article>
            <Pricing>
                <!-- yaha yeh astro props use honge -->
                <PricingCard />
                <PricingCard />
            </Pricing>
        </article>
    </main>
</body>
</html>