---
import Navbar from "../layouts/Navbar.astro";
import Hero from "../layouts/Hero.astro"
import Graph from "../components/Graph.astro";
import DownArrow from "../components/DownArrow.astro";
import Pricing from "../layouts/Pricing.astro";
---

<!DOCTYPE html>
<html lang="en" data-theme="mytheme" class="font-mono">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vivagraphjs/0.10.0/vivagraph.js"></script> -->
    <title>Prototype</title>
</head>
<body>
    <header class="absolute">
        <Navbar title="BOOKIT" data={["DOWNLOAD", "COMMUNITY", "PRICING", "BLOGS", "FEEDBACK"]}/>
    </header>
    <main>
        <article>
            <Hero 
                heading={["SIMPLIFYING", "BOOKMARK", "MANAGEMENT"]}, 
                body={[["Sync across", "all devices"], ["Autonomous", "clustering"], ["Low latency", "static search"]]}, 
                button="visualize"
            >
                <Graph slot="graph"/>
                <DownArrow link="#features" slot="down-arrow"/>
            </Hero>
        </article>
        <article>
            <Pricing>
                
            </Pricing>
        </article>
    </main>
</body>
</html>


<!--
 -->