<div id="canvas" class="w-full h-full bg-base-100"></div> 

<!-- Now I am asuming data.json file to be in a database. So I wan to first extract it like a stream and make my frontend read it -->

<script>
    import * as Viva from 'vivagraphjs';    
    import { buildCircleNodeShader, WebglCircle } from '../scripts/circle';

    // create a graph
    // - dekho merko basically graph banana hain kese bhi. Render ho jayega uski tension engine ki hain
    // - I cannot make graph interactable yaha peh. Yeh sirf graph data structure hain
    var graphGenerator = Viva.Graph.generator()
    var graph = graphGenerator.grid(50, 100)

    // layout of graph:
    var layout = Viva.Graph.Layout.forceDirected(
        graph, 
        {
            springLength: 50, // Increase the spring length
            springCoeff: 0.0008, // Adjust the spring coefficient
            dragCoeff: 0.02,
            gravity: -1.2
        }
    );

    // webgl stuff --legacy ke wajah se I have to stick with js for sometime--
    var graphics = Viva.Graph.View.webglGraphics();
    var nodeColor = 0x009ee8, nodeSize = 10;
    var circleNode = buildCircleNodeShader();
    graphics.setNodeProgram(circleNode);
    graphics.node(() => {
        return new WebglCircle(nodeSize, nodeColor);
    });

    var renderer = Viva.Graph.View.renderer(
        graph, 
        {
            container: document.getElementById('canvas'),
            layout: layout,
            graphics: graphics
        }
    );
    
    // Remove the hero section and add the down arrow button
    const visButton = document.getElementById('visualize')
    const downArrow = document.getElementById('down-arrow')
    visButton?.addEventListener('click', () => {
        renderer.run()
        visButton.classList.add('hidden')
        downArrow?.classList.remove('hidden')
    })
</script>


<!-- <canvas id="canvas-1" class="bg-orange-500 w-full h-full">alt text here</canvas>   -->