<div id="canvas" class="w-full h-full bg-base-100"></div> 

<!-- Now I am asuming data.json file to be in a database. So I wan to first extract it like a stream and make my frontend read it -->

<script>
    import * as Viva from 'vivagraphjs';
    
    var graph = Viva.Graph.graph();

    const arr: Number[] = []
    for (let i = 0; i < 100; i++) {
        arr.push(i)
        graph.addNode(i)
    }

    graph.forEachNode((node) => {
        if (node.id % 2 == 0 && node.id < 99) {
            graph.addLink(node.id, node.id + 1)
        }
    })

    class Node {
        i;
        constructor() {
            this.i = 101
        }

        addNodes(){
            graph.addNode(this.i);
            this.i++;
        }
    }

    // specify where it should be rendered:
    var layout = Viva.Graph.Layout.forceDirected(graph, {
        springLength: 50, // Increase the spring length
        springCoeff: 0.0008, // Adjust the spring coefficient
        dragCoeff: 0.02,
        gravity: -1.2
    });
    var graphics = Viva.Graph.View.webglGraphics();
    var renderer = Viva.Graph.View.renderer(
        graph, 
        {
            container: document.getElementById('canvas'),
            graphics: graphics
        }
    );
    
    const visButton = document.getElementById('visualize')
    const downArrow = document.getElementById('down-arrow')
    visButton?.addEventListener('click', () => {
        renderer.run()
        visButton.classList.add('hidden')
        downArrow?.classList.remove('hidden')
    })


</script>


<!-- <canvas id="canvas-1" class="bg-orange-500 w-full h-full">alt text here</canvas>   -->