<nav class="navbar fixed w-full z-50 backdrop-blur-sm bg-base-100/5">

    <div class="navbar-start">
        <a class="btn btn-ghost text-xl">BOOKIT</a>
    </div>

    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-2">
        <li><a>BLOG</a></li>
        <li><a>PRICING</a></li>
        </ul>
    </div>

    <div class="navbar-end">
        <details class="dropdown dropdown-bottom dropdown-end lg:hidden">
            <summary role="button" class="btn btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </summary>
            <ul tabindex="0" class="dropdown-content z-30 menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>LOGIN</a></li>
            <li><a>GETTING STARTED</a></li>
            <li><a>BLOG</a></li>
            <li><a>PRICING</a></li>
            </ul>
        </details>

        <div>
            <button class="hidden lg:btn lg:btn-outline">LOGIN</button>
            <button class="hidden lg:btn lg:btn-primary">GETTING STARTED</button>
        </div>
        
    </div>

</nav>


